# Rotina ebac como acorda

1 abro o olho(Pausa para acordar)
2 viro o corpo para direita (ajuste para acorda)
3 Tirar a perna debaixo do cobertor(direita, esquerda)
4 coloco minhas pernas no chão(ambas)
5 fico em pé
finalizo a rotina de acorda
